In [1]:
import pandas as pd

In [2]:
!pip install pyarrow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyarrow in /Users/sudhakaransrinivasan/Library/Python/3.9/lib/python/site-packages (19.0.1)

In [3]:
import pyarrow.parquet as pq

In [4]:
trips = pq.read_table('yellow_tripdata_2024-01.parquet')

In [5]:
trips = trips.to_pandas()

In [6]:
trips.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [7]:
trips.shape

(2964624, 19)

In [8]:
!pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in /Users/sudhakaransrinivasan/Library/Python/3.9/lib/python/site-packages (2.0.39)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/sudhakaransrinivasan/Library/Python/3.9/lib/python/site-packages (from sqlalchemy) (4.12.2)

In [11]:
from sqlalchemy import create_engine

In [ ]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
chunk_size = 100000
for i in range(0, trips.shape[0], chunk_size):
    trips[i:i+chunk_size].to_sql(name='yello_taxi_data', con=engine, if_exists='append', index=False)
    print(f"Loaded rows {i} to {i + chunk_size} into the database.")

Loaded rows 0 to 100000 into the database.
Loaded rows 100000 to 200000 into the database.
Loaded rows 200000 to 300000 into the database.
Loaded rows 300000 to 400000 into the database.
Loaded rows 400000 to 500000 into the database.
Loaded rows 500000 to 600000 into the database.
Loaded rows 600000 to 700000 into the database.
Loaded rows 700000 to 800000 into the database.
Loaded rows 800000 to 900000 into the database.
Loaded rows 900000 to 1000000 into the database.
Loaded rows 1000000 to 1100000 into the database.
Loaded rows 1100000 to 1200000 into the database.
Loaded rows 1200000 to 1300000 into the database.
Loaded rows 1300000 to 1400000 into the database.
Loaded rows 1400000 to 1500000 into the database.
Loaded rows 1500000 to 1600000 into the database.
Loaded rows 1600000 to 1700000 into the database.
Loaded rows 1700000 to 1800000 into the database.
Loaded rows 1800000 to 1900000 into the database.
Loaded rows 1900000 to 2000000 into the database.
Loaded rows 2000000 to 2100000 into the database.
Loaded rows 2100000 to 2200000 into the database.
Loaded rows 2200000 to 2300000 into the database.
Loaded rows 2300000 to 2400000 into the database.
Loaded rows 2400000 to 2500000 into the database.
Loaded rows 2500000 to 2600000 into the database.
Loaded rows 2600000 to 2700000 into the database.
Loaded rows 2700000 to 2800000 into the database.
Loaded rows 2800000 to 2900000 into the database.
Loaded rows 2900000 to 3000000 into the database.

In [15]:
print(pd.io.sql.get_schema(trips, name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)